/* Estilos CSS */
.clases-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tab {
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.tab.active {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}


.clases-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.clase-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  color: rgb(0, 0, 0);
}

.clase-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
/* Estilos adicionales para el botón */
.info2-button {
  display: flex;
  align-items: center;
  background-color: #0C0C11; /* Color típico de WhatsApp */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  gap: 10px; /* Espacio entre el ícono y el texto */
}

.info2-button:hover {
  background-color: #128c7e; /* Color de hover para WhatsApp */
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
}

.nivel-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.horarios-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el texto */
  margin-bottom: 5px;
}

.horarios-container h4 {
  margin: 0; /* Eliminar márgenes extra */
}

.horarios-list {
  display: block; /* Asegurar que los horarios estén en una nueva línea */
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.clase-card h4 {
  margin-bottom: 5px;
}

.clase-card ul {
  list-style: none;
  padding: 0;
}

.clase-card ul li {
  margin-bottom: 5px;
}

.class-schedules {
  background-color:  #222;
  padding: 5px 5px;
  border-radius: 12px;
  margin-top: 40px;
  text-align: center;
}

.class-schedules h1 {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.horarios {
  background-color: #222;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* espacio entre imágenes cuando hay mas de una */
  width: fit-content;
  margin: 35px;
}

.datos-sede {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.class-schedules p {
  color: white;
  text-align: left;
}

.datos-sede-seleccionada {
  font-weight: bold;
}

.horario-img {
  color: white;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


/* Media queries para responsividad */
@media (max-width: 768px) {
  .clases-list {
    grid-template-columns: 1fr;
  }

  .tab {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }
}
