@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.conocenos-container {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conocenosTittleContenedor{
  width: 100%;
  height: auto;
  background-color: #333;
  padding:50px;
}
.conocenos-title {
  font-size: 4rem; /* Ajustado para pantallas más pequeñas */
  font-weight: bold;
  color: #a37300; /* Color de texto */
  background: linear-gradient(to right, #83711B, #FFBB80, #83711B); /* Degradado para el texto */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
  margin-top: 80px;
}

.conocenos-content {
  max-width: 100%;
  text-align: start;
  margin: 50px;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap; /* Permite que los eventos se apilen en pantallas pequeñas */
}


.timeline::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 5%;
  right: 5%;
  height: 2px;
  background: linear-gradient(to right, #b8860b, #f4d03f, #b8860b);
  z-index: 1;
}

.timeline-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 20px 0;
  min-width: 200px; /* Evita que los eventos se encojan demasiado */
  margin-bottom: 20px;
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 30%;
  background: linear-gradient(to right, #b8860b, #f4d03f, #b8860b);
  transform: translateX(-50%);
  z-index: -1;
}

.timeline-event:first-child::before {
  display: none;
}

.timeline-event:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 2px;
  height: 20%;
  background: linear-gradient(to right, #b8860b, #f4d03f, #b8860b);
  transform: translateX(-50%);
  z-index: -1;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #a37300;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid white;
}

.timeline-image {
  width: 100%; /* Cambiado a 100% para asegurar que se ajuste a la pantalla */
  max-width: 15rem; /* Limita el ancho máximo */
  object-fit: cover;
  margin: 10px 0; /* Añade margen para separación */
}

.timeline-content h3 {
  font-size: 1.5rem;
  color: #a37300;
  margin: 10px 0 5px 0;
}

.timeline-content p {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  margin: 0;
}

/* Media Queries para hacerlo responsivo */
@media (max-width: 1024px) {
  .conocenos-title {
    font-size: 1.8rem;
    padding: 30px;
   
  }

  .conocenos-content {
    margin: 20px;
    font-size: 0.9rem;
  }

  .timeline {
    flex-direction: column;
  }

  .timeline-event {
    min-width: 100%;
    padding: 10px 0;
  }

  .timeline-image {
    width: 100%; /* Asegura que las imágenes se adapten */
    max-width: 20rem;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .conocenos-title {
    font-size: 1.5rem;
    padding: 20px;
  }

  .conocenos-content {
    margin: 10px;
    font-size: 0.8rem;
  }

  .timeline::before {
    left: 10%;
    right: 10%;
  }

  .timeline-dot {
    width: 15px;
    height: 15px;
  }

  .timeline-content h3 {
    font-size: 1.2rem;
  }

  .timeline-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .conocenos-title {
    font-size: 1.2rem;
    padding: 15px;
  }

  .conocenos-content {
    margin: 5px;
    font-size: 0.7rem;
  }

  .timeline {
    flex-direction: column;
    align-items: center;
  }

  .timeline-image {
    width: 100%; /* Asegura que las imágenes se adapten */
    max-width: 100%; /* No limita el ancho de las imágenes */
  }

  .timeline-content h3 {
    font-size: 1rem;
  }

  .timeline-content p {
    font-size: 0.9rem;
  }
}
