.conocenos-container {
  width: 100%;
  height: auto;
  color: white;
  padding: 0px;
  box-sizing: border-box;
}

.conocenos-title {
  font-size: 2rem;
  color: #f4d03f;
  text-align: start;
  background-color: #333;
  margin: 0;
  padding: 50px;
}

.conocenos-content {
  max-width: 100%;
  text-align: start;
  margin: 50px;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding:  0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 5%;
  right: 5%;
  height: 2px;
  background-color: #f4d03f;
  z-index: 1;
}

.timeline-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 20px 0;
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px; /* Grosor de la línea vertical */
  height: 100%; /* Altura de la línea */
  background-color: #f4d03f; /* Color de la línea */
  transform: translateX(-50%); /* Centra la línea en el marcador */
  z-index: -1; /* Coloca la línea detrás del evento */
}

.timeline-event:first-child::before {
  display: none; /* Oculta la línea en el primer elemento */
}

.timeline-event:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0%; /* Coloca la línea debajo del evento */
  left: 50%;
  width: 2px; /* Grosor de la línea */
  height: 100px; /* Altura de la línea entre eventos */
  background-color: #f4d03f; /* Color de la línea */
  transform: translateX(-50%); /* Centra la línea en el evento */
  z-index: -1; /* Coloca la línea detrás del evento */
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #f4d03f;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid white;
}

.timeline-image1 {
  width: 15rem;
  object-fit: cover;
  margin-top: 0;
}

.timeline-image2 {
  width: 25rem;
  object-fit: cover;
  margin-top: 0;
}

.timeline-content h3 {
  font-size: 1.5rem;
  color: #f4d03f;
  margin: 10px 0 5px 0;
}

.timeline-content p {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  margin: 0;
}
