.video-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #252422;
}

.title1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center; /* Asegura que el texto esté centrado en pantallas pequeñas */
}

.video-box {
  margin-top: 50px;
  width: 800px;
  height: 400px;
  background-color: #949090;
  margin-bottom: 50px;
  border-radius: 15px;
  overflow: hidden;
}

/* Media query para pantallas medianas (tablets) */
@media (max-width: 768px) {
  .video-box {
    width: 90%; /* Ajusta el ancho al 90% del contenedor */
    height: 200px; /* Mantiene la proporción del video */
  }

  .title1 {
    font-size: 1.8rem; /* Reduce el tamaño de la fuente */
  }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .video-box {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 200px; /* Mantiene la proporción del video */
  }

  .title1 {
    font-size: 1.5rem; /* Reduce aún más el tamaño de la fuente */
    margin-bottom: 15px; /* Ajusta el espacio inferior */
  }
}