.video-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Para que se centre verticalmente en la pantalla */
  background-color: #252422;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.video-box {
  margin-top: 50px;
  width: 800px;
  height: 400px;
  background-color: #949090;
  margin-bottom: 50px;
}
