.team-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.team-title {
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 52px;
 color: #333;
}

.profiles-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.profile-image {
  width: 250px; /* Ajustamos el tamaño de la imagen */
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.name {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
  max-width: 260px;
  line-height: 1.4;
}

.role {
  font-size: 17px;
  color: #000000;
  margin-bottom: 10px;
  font-style: italic;
}

