.match-container {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
  background-color: #0d0d0d;
  align-items: center;
  text-align: center;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.2);
}

.sectionNames {
  margin-right: 10px;
}

h3 {
  font-size: 16px;
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 2px #00ccff;
}

.vs {
  font-size: 20px;
  font-weight: bold;
  color: #ff0066;
  text-shadow: 1px 1px 3px #00ccff;
}

input {
  max-width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 2px solid #ff0066;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 0, 102, 0.5);
}

input:focus {
  outline: none;
  border-color: #00ccff;
  box-shadow: 0 0 10px #00ccff;
}

.input1,
.input2 {
  height: 100px;
  display: flex;
  align-items: center;
}
