.card-course {
  width: 400px;
  height: 500px;
  max-height: 450px;
  perspective: 1000px;
  cursor: pointer;
}

.card-course-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-course.flipped .card-course-inner {
  transform: rotateY(180deg);
}

.card-course-front,
.card-course-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border:1px solid #fcc309;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
}

.card-course-front {
  z-index: 2;
}

.card-course-back {
  transform: rotateY(180deg);
  background-color: #f8f9fa;
}

.card-course-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
    
 
}

.card-course-title {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.card-course-duration,
.card-course-modality {
  font-size: 0.9rem;
  color: #555;
}

.card-course-description {
  margin: 0;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  color: white;
  padding: 20px;
  font-size:16px;
  text-align: center;
  background-color: #333;
}

.card-course-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-course-button:hover {
  background-color: #0056b3;
}
.card-course-details {
  text-align: start;
  list-style: none;
  padding: 0;
  margin: 5px;
  font-size: 13px;
}

.card-course-details li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaciado entre los elementos */
}

.card-course-icon {
  width: 20px; /* Ajusta el tamaño de la imagen */
  height: 20px; /* Ajusta el tamaño de la imagen */
  margin-right: 10px; /* Espaciado entre la imagen y el texto */
}

.card-course-duration,
.card-course-modality {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaciado entre los elementos */
}

.card-course-duration .card-course-icon,
.card-course-modality .card-course-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.buttonDiv{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}