.alumnos-maestros-container {
  width: 100%;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.alumnos-maestros-title {
  font-size: 4rem; /* Ajustado para pantallas más pequeñas */
  font-weight: bold;
  color: #a37300;
  background: linear-gradient(to right, #83711B, #FFBB80, #83711B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  display: inline-block;
}

.alumnos-maestros-card {
  width: 90%;
  height: 80%; /* Ajuste menor para pantallas más pequeñas */
  background-color: #5e5b5b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alumnos-maestros-play-button {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-icon {
  color: white;
  font-size: 24px;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .alumnos-maestros-title {
    font-size: 3rem;
  }

  .alumnos-maestros-card {
    height: 50%; /* Reduce la altura de las tarjetas */
  }

  .alumnos-maestros-play-button {
    width: 40px;
    height: 40px;
  }

  .play-icon {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .alumnos-maestros-title {
    font-size: 2.5rem;
  }

  .alumnos-maestros-card {
    height: 40%; /* Aún más pequeña para pantallas móviles */
  }

  .alumnos-maestros-play-button {
    width: 35px;
    height: 35px;
  }

  .play-icon {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .alumnos-maestros-container {
    align-items: center; /* Centra el contenido */
  }

  .alumnos-maestros-title {
    font-size: 2rem;
    text-align: center; /* Centra el texto */
  }

  .alumnos-maestros-card {
    width: 100%; /* Usa todo el ancho disponible */
    height: 30%;
  }

  .alumnos-maestros-play-button {
    width: 30px;
    height: 30px;
  }

  .play-icon {
    font-size: 16px;
  }
}

