.clases-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  color: #222;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tab {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.tab.active {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

.clases-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.clase-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  color: rgb(0, 0, 0);
}

.clase-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.info2-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C0C11;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  gap: 10px;
}

.info2-button:hover {
  background-color: #128c7e;
}

.nivel-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detalle-item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.clase-card ul li.detalle-item {
  margin-bottom: 18px;
}

.clase-card ul {
  margin-bottom: 25px;
  margin-top: 24px;
}

.detalle-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .clases-list {
    grid-template-columns: 1fr;
  }

  .tab {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .buttons-container {
    gap: 8px;
  }

  .info2-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .buttons-container {
    gap: 6px;
  }

  .info2-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}